



    /* body {

        display: inline;
       flex-wrap: wrap;
    }
     */
    header {
    border: 1px solid red;
    height: 10vh;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    

}

     

header div { flex-wrap: wrap;
    color: white;
    display: inline;
    flex-basis: 75%;
    font-size:  200%;    
}

header nav li ul { 
    display: inline;
    color: white;
    text-align: right;
    justify-content: space-around;
    flex-basis: 25%;    
}
   
   
   figure{
    border: 1px solid blue;
    height: 20vh;
}



.section-title{
    flex-basis: 20%;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
}



.section-content{
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap;
}



.smaller-picture{
  flex-basis: 50%;
  border: 1px solid blue;
  height: 30vh;
}


#AboutMe {
    border: 1px solid blue;
    height: 30vh;
}



#Work{
    border: 1px solid blue;
    height: 150vh;
}



#Contact{
    
    
    border: 1px solid red;
    height: 10vh;
    background-color: red;
}



#AboutMe, #Work, #Contact{
    display: flex;
    flex-wrap: wrap;
}



#first-picture{
    flex-basis: 100%;
    border: 1px solid blue;
    height: 60vh;
}
 