



/* main {
    width: 100%;
    /* background-image: url(../images/clouds-7050884_1280.webp); */


header {
    /* border: 1px solid red; */
    height: 10vh;
    width: 100%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    /* display: inline; */
}

header div { 
    flex-wrap: wrap;
    color: white;
    display: inline;
    flex-basis: 75%;
    font-size:  200%;    
}

header nav li ul { 
    display: inline;
    color: white;
    text-align: right;
    justify-content: space-around;
    flex-basis: 25%;    
}  
   
figure {
    border: 1px solid blue;
    height: 20vh;
}

.section-title {
    flex-basis: 20%;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
}

.section-content {
    width: 80%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.smaller-picture {
  flex-basis: 50%;
  border: 1px solid blue;
  height: 30vh;
  width: 75%;
    
}
.smaller-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#AboutMe {
    border: 1px solid blue;
    height: 30vh;
}

#Work {
    border: 1px solid blue;
    height: 90.295vh;
    /* height: 100%; */
}

#Contact {
    /* border: 1px solid red; */
    height: 10vh;
    width: 100%;
    display: inline;
    /* background-color: red; */
    justify-content: space-between;
}

#AboutMe, #Work, #Contact {
    display: flex;
    flex-wrap: wrap;
}

#first-picture {
    flex-basis: 100%;
    border: 1px solid blue;
    /* height: 60vh; */
}